name: PowerShell Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Install Pester
      shell: pwsh
      run: |
        Set-PSRepository -Name PSGallery -InstallationPolicy Trusted
        Install-Module -Name Pester -MinimumVersion 5.0.0 -Force -SkipPublisherCheck
        
    - name: Run unit tests
      shell: pwsh
      run: |
        $config = New-PesterConfiguration
        $config.Run.Path = './Tests/'
        $config.Run.PassThru = $true
        $config.Output.Verbosity = 'Detailed'
        $config.TestResult.Enabled = $true
        $config.TestResult.OutputPath = './testResults.xml'
        $config.TestResult.OutputFormat = 'NUnitXml'
        $config.CodeCoverage.Enabled = $true
        $config.CodeCoverage.Path = './SqlSizer-MSSQL/Shared/*.ps1'
        $config.CodeCoverage.OutputPath = './coverage.xml'
        $config.CodeCoverage.OutputFormat = 'JaCoCo'
        
        $result = Invoke-Pester -Configuration $config
        
        if ($result.FailedCount -gt 0) {
            throw "$($result.FailedCount) tests failed"
        }
        
    - name: Upload test results
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: test-results-${{ matrix.os }}
        path: testResults.xml
        
    - name: Upload coverage results
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: coverage-results-${{ matrix.os }}
        path: coverage.xml
        
    - name: Publish test results
      uses: EnricoMi/publish-unit-test-result-action/composite@v2
      if: always() && matrix.os == 'ubuntu-latest'
      with:
        files: testResults.xml
        
    - name: Code Coverage Report
      uses: codecov/codecov-action@v3
      if: always()
      with:
        files: ./coverage.xml
        flags: unittests
        name: codecov-${{ matrix.os }}

  psscriptanalyzer:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Install PSScriptAnalyzer
      shell: pwsh
      run: |
        Set-PSRepository -Name PSGallery -InstallationPolicy Trusted
        Install-Module -Name PSScriptAnalyzer -Force
        
    - name: Run PSScriptAnalyzer
      shell: pwsh
      run: |
        $results = Invoke-ScriptAnalyzer -Path ./SqlSizer-MSSQL -Recurse -Settings PSGallery
        
        if ($results.Count -gt 0) {
            $results | Format-Table -AutoSize
            
            # Fail if there are errors (severity 1)
            $errors = $results | Where-Object { $_.Severity -eq 1 }
            if ($errors.Count -gt 0) {
                throw "$($errors.Count) PSScriptAnalyzer errors found"
            }
        }
